.section {
  width: 100%;
  padding: 60px 20px;
  background-color: var(--body_background);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin-bottom: 40px;

  h1 {
    font-size: 40px;
      color: var(--body_color);
      font-weight: bold;
  }
}

.controlPanel {
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 40px;

  .searchInput,
  .sortSelect,
  .sortButton {
  padding: 10px 15px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 10px;
      outline: none;
      transition: all 0.3s;
      width: 220px;
       color:gray;
      background-color: var(--body_background);
  }

  .sortButton {
      padding: 10px 20px;
      font-size: 16px;
      border: 1px solid var(--body_color);
      background-color:var(--body_background);
      color: var(--body_color);
      border-radius: 10px;
      cursor: pointer;
      transition: background-color 0.3s;
  }

  .sortButton:hover {
   background-color: #333;
  }
}

.collection {
   display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 25px;
    width: 100%;
    max-width: 1200px;
    color: var(--body_color);

  .collectionWrapper {
     width: 100%;
  height: 100%;
   background: var(--body_background);
      overflow: hidden;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
      transition: transform 0.3s;

    .collectionLink {
      text-decoration: none;
      color: inherit;
    }

    .card {
       width: 100%;
    height: 100%;
    max-width: 100%;
      background-color: #fff;
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: transform 0.3s ease;
      cursor: pointer;

      &:hover {
        transform: scale(1.03);
        z-index: 2;
      }

      .imgBox {
        width: 100%;
        height: 220px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: none; // hover effekti yoxdur
        }
      }

      .text {
        padding: 10px;
        text-align: center;
        

        h3 {
          font-size: 1.1rem;
          color: #333;
        }

        p {
          color: #777;
        }
      }
    }
  }
}

.paginationDots {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 40px;

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #bbb; // Açıq boz — default vəziyyət
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #444; // hover zamanı tündləşdir
  }
}

.active {
  background-color: #000; // aktiv nöqtə qara olsun ki, seçildiyi aydın görünsün
}

}


@media (min-width: 701px) and (max-width: 1024px) {
  .collection {
    display: grid;
    grid-template-columns: repeat(2, 1fr); // iki sütun
    gap: 25px;
    justify-items: center;
  }

  .collectionWrapper {
    width: 100%;
    max-width: 100%;
  }

  .card {
    height: auto;
    .imgBox {
      height: 250px;
    }

    .text h3 {
      font-size: 15px;
    }

    .text p {
      font-size: 13px;
    }
  }
}



@media (max-width: 700px) {
  .collection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .collectionWrapper {
    width: 100%;
    max-width: 90%;
  }

  .controlPanel {
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .searchInput,
    .sortSelect,
    .sortButton {
      width: 90%;
    }
  }

  .header h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  .paginationDots {
    margin-top: 20px;
  }
}
