.container {
  padding: 2rem;
  background-color: var(--body_background);
  min-height: 100vh;

  h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
     color: var(--body_color);
  }
}

.header {
  text-align: center;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1.5rem;
  justify-items: center;
  margin-bottom: 2rem;

  p {
    grid-column: 1 / -1;
    font-size: 1.1rem;
    color: #777;
  }
}

.paginationDots {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 10px;
}

.dot {
  width: 12px;
  height: 12px;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: inline-block;

  &:hover {
    background-color: #888;
  }
}

.activeDot {
  background-color:black; 
  box-shadow: 0 0 6px gray;
}


.active {
  background-color: #333;
  color: #fff;
  border-color: #333;
}
