@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 70vh;
  font-family: "Poppins", sans-serif;
  background-color: var(--footer_background);
  border-top: 1px solid rgb(221, 221, 221);

  .cards {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgb(207, 206, 206);
    height: 450px;
    flex-wrap: wrap;

    .card {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;

      p {
        margin-bottom: 10px;
        font-size: 16px;
      }

      a {
        margin-bottom: 10px;
        font-size: 12px;
        text-decoration: none;
        color: rgb(116, 115, 115);
        font-weight: 500;
        transition: all 0.3s ease;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .threediv {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 12vh;
    align-items: center;

    .three {
      display: flex;
      justify-content: space-between;
      width: 95%;
      cursor: pointer;
      flex-wrap: wrap;

      p {
        font-size: 18px;
      }

      .icons {
        display: flex;
        font-size: 20px;
        gap: 15px;

        .icon {
          transition: all 0.3s ease;
          color: black;

          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }
  }

  
  @media (max-width: 700px) {
    height: auto;

    .cards {
      flex-direction: column;
      align-items: flex-start;
      height: auto;
      gap: 30px;

      .card {
        width: 100%;
      }
    }

    .threediv {
      height: auto;

      .three {
        flex-direction: column;
        align-items: center;
        gap: 10px;

        p {
          text-align: center;
        }

        .icons {
          justify-content: center;
        }
      }
    }
  }

  
  @media (min-width: 701px) and (max-width: 1024px) {
    height: auto;

    .cards {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 30px;
      height: auto;

      .card {
        width: 30%;
      }
    }

    .threediv {
      height: auto;

      .three {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .icons {
          justify-content: flex-end;
        }
      }
    }
  }
}
