.section {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
   background-color: var(--body_background);
}

.header {
  text-align: center;

  h1 {
    font-size: 2.5rem;
    font-weight: bold;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
     color: var(--body_color);

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 3px;
      width: 100%;
      background-color: #000;
    }
  }
}

.controlPanel {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  align-items: center;

  .searchInput {
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 220px;
     background-color: var(--body_background);
  }

  .sortSelect {
    padding: 10px 12px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 10px;
      outline: none;
      background-color: var(--text_color);
      cursor: pointer;
      transition: all 0.3s;
       color: gray;
  }

  .sortButton {
     padding: 10px 20px;
      font-size: 16px;
      border: 1px solid var(--body_color);
      background-color:var(--body_background);
      color: var(--body_color);
      border-radius: 10px;
      cursor: pointer;
      transition: background-color 0.3s;

    &:hover {
      background-color: #0c0c0d;
    }
  }
}

.rings {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  width: 100%;
  max-width: 1200px;
}

.ringsWrapper {
  width: 100%;
  max-width: 250px;
  text-decoration: none;
}

.ringsLink {
  text-decoration: none;
  color: inherit;
}

.paginationDots {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;

  .dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ccc;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &.active {
      background-color: #000;
    }
  }
}

/* Responsivlik */
@media screen and (max-width: 768px) {
  .ringsWrapper {
    max-width: 45%;
  }
}

@media screen and (max-width: 480px) {
  .ringsWrapper {
    max-width: 100%;
  }

  .header h1 {
    font-size: 2rem;
  }

  .controlPanel {
    flex-direction: column;
    align-items: stretch;

    .searchInput,
    .sortSelect,
    .sortButton {
      width: 100%;
    }
  }
}
